<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <div class="mb-2">
        <h1>Editing Book</h1>
      </div>
      <div>
        <% if @book.errors.any? %>
          <h3>
          <%= @book.errors.count %>error prohibited this obj from being saved:
          </h3>
          <ul>
            <% @book.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
       <%= form_with model: @book, class: "w-100" do |f| %>
      <div class="mb-3">
        <h4>Title</h4>
        <%= f.text_field :title, class: "form-control" %>
      </div>
      <div class="mb-3">
        <h4>Opinion</h4>
        <%= f.text_area :body, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= f.submit "Update Book", class: "btn btn-success" %>
      </div>
      <% end %>

      <span>
        <%= link_to "Show", book_path(@book.id) %>
        |
        <%= link_to "Back", books_path %>
      </span>
    </div>
  </div>
</div>