<%= flash[:notice] %>
<div class="container">
  <div class="row">
<%= render partial: 'infonew', locals: { user: @user, book: @book } %>

    <div class="col-md-8 offset-md-1">
      <div>
        <h2>Book detail</h2>
        <table class="table">
          <tbody>
            <td>
              <%= link_to user_path(@user.id) do%>
              <%= image_tag @book_a.user.get_profile_image(80,80) %><br>
              <%= @book_a.user.name %>
              <% end %>
            </td>
            <td><%= link_to @book_a.title, book_path(@book_a.id) %></td>
            <td><%= @book_a.body %></td>
            <% if @book_a.user == current_user %>
            <td><%= link_to "Edit", edit_book_path(@book_a.id), class: "btn btn-success" %></td>
            <td><%= link_to "Destroy", book_path(@book_a.id), method: :delete, "date-confirm" => "本当に消しますか？", class: "btn btn-danger" %></td>
            <% end %>
            <td>
              <% if @book_a.favorited_by?(current_user) %>
                <%= link_to book_favorite_path(@book_a), method: :delete, class: "text-danger" do %>
                  <i class="fa-solid fa-heart"></i><%= @book_a.favorites.count %>
                <% end %>
              <% else %>
                <%= link_to book_favorite_path(@book_a), method: :post do %>
                  <i class="fa-solid fa-heart"></i><%= @book_a.favorites.count %>
                <% end %>
              <% end %>
            </td>
            <td>コメント数:<%= @book_a.book_comments.count %></td>
         </tbody>
        </table>
        <div class="col-md-6">
          <table class="table">
            <tbody>
              <% @book_a.book_comments.each do |book_comment| %>
              　<tr>
                  <td>
                    <%= image_tag book_comment.user.get_profile_image(60,60) %><br>
                    <%= book_comment.user.name %>
                  </td>
                  <td>
                    <%= book_comment.comment %>
                  </td>
                  <td>
                    <% if book_comment.user == current_user %>
                      <%= link_to "Destroy", book_book_comment_path(book_comment.book, book_comment), method: :delete, class: "btn btn-danger" %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div>
          <%= form_with model: [@book_a, @book_comment] do |f| %>
            <%= f.text_area :comment %>
            <%= f.submit "送信" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>