<%= flash[:notice] %>
<%= render partial: 'infonew', locals: { user: @user, book: @book } %>

<div>
  <h2>Book detail</h2>
  <p>
    <% link_to user_path %>
    <%= image_tag @book_a.user.get_image(80,80) %>
    <%= @book_a.title %>
  </p>
  <p><%= link_to @book_a.title, book_path(@book_a.id) %></p>
  <p><%= @book_a.body %>
  <p><%= link_to "Edit", edit_book_path(@book_a.id) %></p>
  <p><%= link_to "Destroy", book_path(@book_a.id), method: :delete, "date-confirm" => "本当に消しますか？" %></p>
</div>